name: Publish NPM Package

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: pnpm
      - run: pnpm install --ignore-scripts
      - run: pnpm build
      - name: publish
        run: pnpm publish --no-git-checks
